/* Geral */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #474646;
}

.btn {
    color: #ffffff;
    padding: 10px;
    border: none;
    font-weight: bold;
} 

.cabecalho__titulo,
.universidades__chamada {
    font-weight: 300;
}

/* Barra de navegação */
.navegacao {
    position: fixed;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.09);
}

.logo {
    width: 80px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    margin: 0;
    padding: 0;
}

.menu__item > a {
    color: #474646;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.area-usuario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    list-style: none;
    padding: 0;
}

.area-usuario__item > a {
    color: #474646;
    font-size: 12px;
    text-decoration: none;
}

.btn--roxo {
    background-color: #9776f4;
    border-radius: 3px;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 33%;
    padding: 20px;
    margin-left: 100px;
}

.btn--rosa {
    background-color: #e91e63;
}

.link {
    color: #adabab;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

.link__inline-icon {
    width: 15px;
}

/* Seção universidades */
.universidades {
    margin-bottom: 30px;
}

.chamada {
    text-align: center;
    margin: 50px;
}

.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.depoimento {
    width: 17%;
}

.nome-universidade {
    margin: 0;
    font-size: 20px;
    border-bottom: 2px solid #934af4;
}

.trecho {
    margin: 25px 0;
    font-size: 12px;
    letter-spacing: 0.2px;
}

.creditos-depoimento {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.legenda-depoimento {
    margin: 0;
    font-size: 13px;
}

/* Rodapé */
.rodape {
    background-color: #e91e63;
    padding: 5px 0;
}

.creditos-rodape {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
}