body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
}

.logo {
    display: inline-block;
    width: 200px;
    margin: 0 20px;
}

.menu {
    list-style: none;
    margin: 0;
}

.menu__item {
    display: inline-block;
    margin: 0 10px;
}

.menu__item > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #9013FE;
    font-weight: bold;
}

.conteudo {
    width: 950px;
    margin: 0 auto;
}

.autora {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.foto--redonda {
    display: block;
    width: 90px;
    margin: 0 auto;
    border-radius: 50px;
}

.legenda__texto--destacado {
    font-weight: bold;
}

.post {
    display: inline-block;
    width: 600px;
}

.footer {
    background-color: #a9a9a9;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.footer__logo {
    display: inline-block;
    width: 100px;
    margin: 0 20px;
}

.footer__creditos {
    display: inline-block;
    font-size: 11px;
    margin: 0;
}